In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('../data/yellow_tripdata_2021-07.csv')

/tmp/ipykernel_2146330/4245886913.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/yellow_tripdata_2021-07.csv')

In [11]:
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

/tmp/ipykernel_2146330/195773472.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2821515 entries, 0 to 2821514
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: datetime64[ns](1), float64(13), int64(2), object(2)
memory usage: 387.5+ MB

In [5]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine('postgresql://root:root@0.0.0.0:5431/ny_taxi')

In [25]:
print(pd.io.sql.get_schema(data,name='ny_taxi_table', con=engine))

CREATE TABLE ny_taxi_table (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [26]:
engine.connect()

In [19]:
data.shape

(2821515, 18)

In [12]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-07-01 00:08:51,2021-07-01 00:13:05,1.0,0.8,1.0,N,90,68,1.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1.0,2021-07-01 00:22:39,2021-07-01 00:25:58,1.0,0.9,1.0,N,113,90,2.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1.0,2021-07-01 00:48:33,2021-07-01 00:54:58,1.0,2.8,1.0,N,88,232,2.0,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1.0,2021-07-01 00:59:44,2021-07-01 01:07:09,1.0,1.4,1.0,N,79,249,1.0,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1.0,2021-07-01 00:08:35,2021-07-01 00:16:28,0.0,2.0,1.0,N,142,238,1.0,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [30]:
df_iter = pd.read_csv('../data/yellow_tripdata_2021-07.csv', iterator=True, chunksize=100000)

In [27]:
data.head(n=0).to_sql('ny_data', engine, if_exists='replace',index=False)

0

In [31]:
n = 0
while True:
    
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
    df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)
    
    df.to_sql('ny_taxi_data', con=engine, if_exists='append')

    print(f"Inserted chunk: {n}")
    n += 1

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 0

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 1

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 2

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 3

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 4

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 5

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 6

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 7

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 8

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 9

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 10

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 11

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 12

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 13

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 14

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 15

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 16

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 17

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 18

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 19

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 20

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 21

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 22

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 23

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 24

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 25

/tmp/ipykernel_2146330/2179643524.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)
/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 26

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 27

/tmp/ipykernel_2146330/2179643524.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datatime = pd.to_datetime(data.tpep_dropoff_datetime)

Inserted chunk: 28

StopIteration: